:root {
    --primary-blue: #0081C9;
    --gold: #D4AF37;
    --dark: #1a1a1a;
    --light: #f4f4f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'https://uploads.onecompiler.io/43vjzagjf/443w4h3an/llavero%20de%20boca.jpg', Tahoma, Geneva, Verdana, sans-serif;
}

body { background-color: var(); color: var(--dark); }

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo { height: 60px; }
.brand-text h1 { font-size: 1.5rem; font-style: italic; font-weight: 900; }
.brand-text span { color: var(--gold); }
.brand-text p { font-size: 0.7rem; font-weight: bold; color: gray; text-transform: uppercase; }

.nav-links { display: flex; list-style: none; }
.nav-links li a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--dark);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
    transition: 0.3s;
}

.nav-links li a:hover, .nav-links li a.active { color: var(--primary-blue); border-bottom: 2px solid var(--gold); }

/* Hero Section */
.hero {
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://uploads.onecompiler.io/43vjzagjf/44chtdubt/Gemini_Generated_Image_dvbai1dvbai1dvba.png') center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
/*RETRO SECTION*/
.RETRO {
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://uploads.onecompiler.io/43vjzagjf/44chtdubt/Gemini_Generated_Image_9tok399tok399tok.png') center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
/*CUADROS SECTION*/
.CUADROS {
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://uploads.onecompiler.io/43vjzagjf/44chtdubt/neon%20led.jpg') center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

/*IMPRESIONES SECTION*/
.IMPRESION3D {
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://uploads.onecompiler.io/43vjzagjf/443w4h3an/vaso%20equipo.jpg') center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.highlight { color: var(--gold); }
.btn-main {
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background: var(--gold);
    color: black;
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    transition: 0.3s;
}
.btn-main:hover { background: white; transform: scale(1.05); }

/* Footer */
.main-footer { padding: 2rem; background: var(--dark); color: white; text-align: center; font-size: 0.8rem; }
